<!DOCTYPE html>
<html>
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'common.css' %}">
    <title>
        R3
    </title>
    {% block head %} {% endblock %}
</head>

<body>
    <div class="header">
        {% block header %} {% endblock %}
    </div>
    <div class="version">
        alpha-02
    </div>
    <div class="body">
        {% block body %} {% endblock %}
    </div>
</body>

</html>