{% extends "base.html" %}
<!-- Head -->
{% block head %}
<script type="text/javascript">
    window.onload = () => {

        if ("{{trial.logic.commenting}}" == "parallel") {
            const comment = document.getElementById("id_comment");
            comment.readOnly = true;
        }
    }
</script>
{% endblock %}
<!-- Header-->
{% block header %}
<div class="header">
    <div class="title">R3</div>
    <div class="marks">
        <div class="mark">1</div>
        <div class="space">></div>
        <div class="mark">2</div>
        <div class="space">></div>
        <div class="mark">3</div>
        <div class="space">></div>
        <div class="current">4</div>
    </div>
</div>
{% endblock %}
<!-- Body -->
{% block body %}
<div class="data">
    <div class="name">
        Room:
    </div>
    <div class="value">
        {{trial.room}}
    </div>
</div>
<div class="data">
    <div class="name">
        Nickname:
    </div>
    <div class="value">
        {{trial.nickname}}
    </div>
</div>
<div class="prompt">
    {{trial.logic.finish_prompt | safe}}
</div>
<form method="POST">
    {% csrf_token %}
    <table>
        <tbody>
            {{form}}
        </tbody>
    </table>
    <div class="button">
        <button type="submit">Done</button>
    </div>
</form>
{% endblock %}