{% extends "base.html" %}
<!-- Head -->
{% block head %}
<script type="text/javascript">
    window.onload = function() {

        if ((navigator.userAgent.indexOf("MSIE") != -1) || (!!document.documentMode == true)) {
            alert("Sorry, your browser is not suppiorted...");
            window.location = "static/tutorial.html"

            return;
        }

        let select = document.getElementById('id_logic');
        let tmp = new Array();

        for (let i = 0; i < select.length; i++) {
            tmp[i] = new Array();
            tmp[i][0] = select.options[i].text;
            tmp[i][1] = select.options[i].value;
        }

        tmp.sort();

        for (let i = 0; i < tmp.length; i++) {
            select.options[i].text = tmp[i][0];
            select.options[i].value = tmp[i][1];
        }
    }
</script>
{% endblock %}
<!-- Header-->
{% block header %}
<div class="header">
    <div class="title">R3</div>
    <div class="marks">
        <div class="current">Setup</div>
        <div class="space">></div>
        <div class="mark">Check</div>
        <div class="space">></div>
        <div class="mark">Show</div>
        <div class="space">></div>
        <div class="mark">Finish</div>
    </div>
</div>
{% endblock %}
<!-- Body -->
{% block body %}
<div class="message">
    Read <a href="/static/tutorial.html">this tutorial</a> before you start.
</div>
<form method="POST">
    {% csrf_token %}
    <table>
        <tbody>
            {{form}}
        </tbody>
    </table>
    <div class="button">
        <button type="submit">Next</button>
    </div>
</form>
{% endblock %}