{% extends "base.html" %}
<!-- Head -->
{% block head %}
<script type="text/javascript">
    const interval = Number("{{trial.logic.interval}}") * 1000
    const duration = Number("{{trial.logic.duration}}") * 1000

    let counter = null;
    let text = null;
    let image = null;
    let video = null;

    let start = 0;
    let last = 0;
    let timer = null;
    let seq = 0;

    window.onload = () => {
        counter = document.getElementById("counter");

        text = document.getElementById("text");
        text.style.display = "none";

        image = document.getElementById("image");
        image.style.display = "none";

        image.onload = () => {
            image.style.display = "block";
        }

        video = document.getElementById("video");
        video.style.display = "none";

        video.onloadeddata = () => {
            video.style.display = "block";
        }

        start = new Date().getTime();
        last = start - interval;
        timer = setInterval(onInterval, 1000 / 2);

        if ("{{trial.logic.commenting}}" == "parallel") {
            document.getElementById("comment").style.display = "block";
        }

        if (duration == 0) {
            document.getElementById("finish").style.display = "inline";
        }

        onInterval();
    }

    function onInterval() {
        const now = new Date().getTime();
        const diff = now - start;

        if (duration > 0 && duration < diff) {
            document.playform.submit();
            return;
        }

        const min = Math.floor(diff / (1000 * 60));
        const sec = Math.floor(diff / 1000) - (min * 60);

        counter.innerHTML = String(min).padStart(2, "0") + ":" + String(sec).padStart(2, "0");

        if (now >= (last + interval)) {
            last = now;

            content_url = "../content/{{trial.pk}}/" + String(seq)
            seq++;

            fetch(content_url).then((response) => {
                text.style.display = "none";
                image.style.display = "none";
                video.style.display = "none";

                if (response.ok) {
                    return response.json();
                }

                text.innerHTML = "API Error : " + response.status + " (@" + seq + ")<br>may be you have to re-run prep?";
                text.style.display = "block";

            }).then((json_response) => {

                if (json_response.type == "jpg" || json_response.type == "png") {
                    image.src = json_response.data;

                } else if (json_response.type == "mp4" || json_response.type == "webm") {
                    video.src = json_response.data;

                } else if (json_response.type == "txt") {
                    text.innerHTML = json_response.data;
                    text.style.display = "block";

                } else {
                    text.innerHTML = "type [" + json_response.type + "] (" + json_response.data + ") does not support yet.";
                    text.style.display = "block";
                }

            }).catch((error) => {
                console.log(`api call failed : ${content_url}`);
            });
        }
    }
</script>
{% endblock %}
<!-- Header-->
{% block header %}
<div class="header">
    <div class="title">R3</div>
    <div class="marks">
        <div class="mark">1</div>
        <div class="space">></div>
        <div class="mark">2</div>
        <div class="space">></div>
        <div class="current">3</div>
        <div class="space">></div>
        <div class="mark">4</div>
    </div>
</div>
{% endblock %}
<!-- Body -->
{% block body %}
<form name="playform" method="POST">
    {% csrf_token %}
    <div class="data">
        <div class="name">
            Room:
        </div>
        <div class="value">
            {{trial.room}}
        </div>
    </div>
    <div class="data">
        <div class="name">
            Nickname:
        </div>
        <div class="value">
            {{trial.nickname}}
        </div>
    </div>
    <div class="data">
        <div class="name">
            Time:
        </div>
        <div id="counter" class="value">
            00:00
        </div>
    </div>
    <div class="finish">
        <button id="finish" class="finish" type="submit">Finish</button>
    </div>
    <div class="subject">
        {{trial.logic.subject}}
    </div>
    <div class="pane">
        <div id="comment" class="comment">
            <textarea class="comment" name="comment" maxlength="1000" id="id_comment" placeholder="Enter your ideas here!"></textarea>
        </div>
        <div id="container" class="container">
            <div id="text" class="content"></div>
            <img id="image" class="content" />
            <video id="video" class="content" onloadstart="this.volume=0.0" autoplay muted loop preload="none"></video>
        </div>
    </div>
</form>
{% endblock %}