<!-- Base -->
{% extends "base.html" %}

<!-- Static -->
{% load static %}

<!-- Header-->
{% block header %}
<table class="header">
    <tr class="header">
        <td class="title">R3</td>
        <td class="mark">Setup</td>
        <td class="space">▶</td>
        <td class="cursor">Check</td>
        <td class="space">▶</td>
        <td class="mark">Show</td>
        <td class="space">▶</td>
        <td class="mark">Finish</td>
    </tr>
</table>
{% endblock %}

<!-- Body -->
{% block body %}
<table>
    <tr class="data">
        <th>Room:</th>
        <td class="static">{{trial.room}}</td>
        <td class="space"></td>
    </tr>
    <tr class="data">
        <th>Nickname:</th>
        <td class="static">{{trial.nickname}}</td>
        <td class="space"></td>
    </tr>
</table>
<div class="prompt">
    {{trial.logic.start_prompt | safe}}
</div>
<form action="../play/{{trial.pk}}" method="GET">
    {% csrf_token %}
    <div class="button">
        <button type="submit">Start</button>
        <button type="button" onclick="location.href='/'">Cancel</button>
    </div>
</form>
{% endblock %}