body {
    margin: 0;
    border: 0;
    padding: 0;
    color: #F0F4F8;
    background: #102A43;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

h1 {
    margin: 0;
    padding: 1rem 2rem 0 2rem;
    color: #F0F4F8;
    background-color: #334268;
}

h3 {
    margin-left: 1em;
}

div.lang {
    padding: 0 1rem 1rem 0;
    color: #F0F4F8;
    background-color: #334268;
    text-align: right;
}

div.body {
    margin: 2rem;
    line-height: 2rem;
}

a {
    font-weight: bold;
    color: #F0F4F8;
}

div.button {
    text-align: center;
}

button {
    line-height: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 50%;
    font-size: large;
    color: #F0F4F8;
    background-color: #627D98;
    border-color: #627D98;
}

div.contact {
    border-style: solid;
    border-color: #F0F4F8;
    border-width: 0.1rem;
    padding: 1rem;
    background-color: #334268;
}

@media screen and (max-width: 480px) {
    body {
        font-size: small;
    }
    h1 {
        margin: 0;
        padding: 1rem 1rem 1rem 1rem;
    }
    div.body {
        margin: 1rem;
        line-height: 1.5rem;
    }
}